.home {
    width: 100vw;
    height: 100vh;
    background-color: var(--main-color);
    overflow-x: hidden;
    
    .container {
        //position: relative;
        width: 99%;
        height: 100%;
        margin-top: 90px;
        margin-left: 10px;
        margin-right: 10px;
        
        .popularTitle {
            width: 250px;
            height: 25px;
            font-family: 'Bahnschrift'; 
            background-color: rgba(0, 0, 0, 0.3);
            padding: 10px;
            border-radius: 5px;
            border: 2px solid;
        }

        .popular {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            row-gap: 10px;
            column-gap: 10px;
        }

        hr {
            width: 95%;
            height: 5px;
            background-color: black;
            border: none;
            margin-bottom: 20px;
            margin-top: 20px;
        }

        .feedRow {
            display: flex;
            margin-bottom: 20px;
            justify-content: center;
            flex-wrap: wrap;
            row-gap: 10px;
            column-gap: 10px;
        }
    }
}